@import "src/styles/_colors";

#pageVerifyUser {
  .message {
    background: $bg-color-2;
    width: 320px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 350px) {
      width: 100%;
    }
  }

  .goHomeBtn {
    color: cyan;
    text-decoration: underline;
    margin-top: 10px;
  }
}
