.button {
  background: #f6ca53;
  box-shadow: 0 0 10px #f6ca53;
  padding: 10px;
  border: 0;
  border-radius: 8px;

  &:hover {
    background-color: #f7d475;
  }

  &.buttonDanger {
    background: #f60b44;
    box-shadow: 0 0 10px #f60b44;

    &:hover {
      background: #f73b69;
    }
  }

  &.buttonSmall {
    padding: 3px 15px;
  }
}
